name: "Test"

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.17.1]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: install
      run: yarn install
      working-directory: ./artemis-console-extension/artemis-extension/packages/artemis-console-plugin
    - name: test
      run: yarn test
      working-directory: ./artemis-console-extension/artemis-extension/packages/artemis-console-plugin